# folders
test
node_modules

# files
*.log
*.code-workspace
tsconfig.json
webpack.config.js
rollup.config.js
rollup.test.config.js

# toolchain
webpack.config.ts
webpack.development.ts
tsconfig.json
.eslintrc
.prettierrc
.vscode
.git
.gitignore
